.marqee {
    /*行高設定*/
     height: 60px;
    /*隱藏多出來的文字*/
     overflow: hidden; 
    /*隱藏多出來的行*/
     position: relative;
    }
    
    /*文字外觀與動畫執行的設定*/
    .marqee ul {
    /*清除ul的項目點點*/
     list-style-type: none;
    /*動做設定：動畫名稱、要跑多久、運動模式、次數*/
     animation-name: maruqee;
     animation-duration:5s;
     animation-timing-function: linear;
    /*執行次數：infinite（無限重複）、3(指定3次)*/
     animation-iteration-count:infinite;
    /*給這個屬性才會有區域，不然就只有內容總長*/    
     position: relative;
    }
    
    .marqee ul li {
     font-size: 40px;
    }
    
    /*動畫行為的安排*/
    @keyframes marqee {
    /*動作的起始位置*/
     from {
      left: 100%;
     }
    /*動作的結束位置*/
     to {
      left: 0;
     }
    }